<div class="container mt-5">
	<ul class="list-group">
		<li class="list-group-item">{{obj.id}}</li>
		<li class="list-group-item">{{obj.name}}</li>
		<li class="list-group-item">{{obj.email}}</li>
		<li class="list-group-item">{{obj.phone}}</li>
		<li class="list-group-item">{{obj.balance}}<a routerLink='/' class="btn btn-success float-right">返回</a></li>
		<li class="list-group-item"><a [(routerLink)]="'/editUser/'+ obj.id" class="btn btn-success">编辑</a><a class="btn btn-danger" (click)="deleteuser()">删除</a></li>
	</ul>
</div>
